{{!--
  This template is used both in our TypeDoc theme (for API reference) and in 11ty (for the rest of the site).
  Therefore: only use plain Handlebars code, no custom helpers etc.
--}}
<nav class="ui secondary stackable pointing menu" style="justify-content: center;">
  <span class="item" style="background: #ff08">This documentation is for v0.2 (in development)</span>
  <span class="item"></span>
  <a href="/docs/" class="{{#if isDocsIndex}}active {{/if}}item">Overview</a>
  <a href="/docs/getting-started/" class="{{#if isGettingStarted}}active {{/if}}item">Getting Started</a>
  <a href="/docs/develop/" class="{{#if isDevelop}}active {{/if}}item">Develop</a>
  <a href="/docs/api/" class="{{#if isApiReference}}active {{/if}}item">API reference</a>
</nav>
