{{!--
Copyright (c) 2015 Sebastian Lenz.
Copyright (c) 2016-2020 TypeDoc Contributors.
Licensed under the Apache License 2.0.
From: https://github.com/TypeStrong/typedoc-default-themes
--}}

<div id="tsd-search" data-index="{{relativeURL "assets/js/search.json"}}" data-base="{{relativeURL "./"}}">
    <div>
        <label for="tsd-search-field" class="tsd-widget search no-caption">Search</label>
        <input id="tsd-search-field" type="text" />
    </div>

    <ul class="results">
        <li class="state loading">Preparing search index...</li>
        <li class="state failure">The search index is not available</li>
    </ul>
</div>
